{% extends '@project_template/base.html.twig' %}

{% block body %}
    <a href="{{ listPath }}">back to list</a>

    <div class="container mt-5 col-4">
        {{ form_start(form) }}
            {{ form_row(form.companyName) }}
            {{ form_row(form.rating) }}
            {{ form_row(form.reviewText) }}
            {{ form_row(form.authorEmail) }}

            {{ form_row(form.submit) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
