{% extends '@project_template/base.html.twig' %}

{% block body %}

    <div class="container mt-5 col-4">
        <a class="btn btn-danger mb-4" href="{{ path(routePrefix ~ 'list') }}">
            {{ 'review.back_to_list'|trans() }}
        </a>

        {{ form_start(form) }}
            {{ form_row(form.companyName) }}
            {{ form_row(form.rating) }}
            {{ form_row(form.reviewText) }}
            {{ form_row(form.authorEmail) }}

            {{ form_row(form.submit) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
