{% extends '@project_template/base.html.twig' %}

{% block body %}
    <div class="container mt-4">

        <div class="row">
            <div class="col-6">
                <form method="get" action="{{ path('review_list') }}" class="d-flex" role="search">
                    <label>
                        <input type="search"
                               name="search"
                               value="{{ app.request.query.get('search') }}"
                               placeholder="{{ 'search.placeholder'|trans({'searchQuery': searchQuery}) }}"
                               class="form-control me-2"/>
                    </label>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>

            <div class="col-6">
                <a class="btn btn-primary" href="{{ path(routePrefix ~ 'create') }}" role="button">{{ 'search.create'|trans({'searchQuery': searchQuery}) }}</a>
            </div>
        </div>

        <div class="row">
            {% if reviews is empty %}
                {{ 'search.no_result'|trans({'searchQuery': searchQuery}) }}
            {% else %}
                {% for review in reviews %}
                    {% include '@project_template/review/_components/_card.html.twig' %}
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}
