<div class="card col-5 m-1">
    <div class="card-header">
        {{ review.companyName }}
    </div>
    <div class="card-body">
        {% include '@project_template/review/_components/rating_display.html.twig' %}
        <figure>
            <blockquote class="blockquote">
                <p>{{ review.reviewText|length > 50 ? review.reviewText|slice(0, 50) ~ '...' : review.reviewText  }}</p>
            </blockquote>
            <div>
                {{ review.authorEmail }}
            </div>
            <a href="{{ path(routePrefix ~ 'view', {id: review.id}) }}" class="btn btn-primary">{{ 'review.view.label'|trans({'searchQuery': searchQuery}) }}</a>
        </figure>
    </div>
</div>
